<h1>画像投稿</h1>
<%= form_for @post, url: add_post_path do |f| %>
<div>
    <%= f.text_field :title, placeholder: "タイトル" %>
</div>
<div>
<%= f.file_field :image %>
</div>
<div>
<%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name'), :include_blank => 'Please Select' %>
</div>
<div>
<%= f.submit "投稿" %>
</div>
<% end %>